node-red/flow.json
[
    {
        "id": "0eb3febc4f28a396",
        "type": "inject",
        "z": "7649faa3400455b0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "a15d03105a8064fa"
            ]
        ]
    },
    {
        "id": "6a1364d7453e5332",
        "type": "function",
        "z": "7649faa3400455b0",
        "name": "Image Check",
        "func": "const fs = global.get('fs');\n\nconst filePath = msg.filename;\n\nif (!filePath) {\n    node.error('msg.filename is missing');\n    return null;\n}\n\nif (!fs.existsSync(filePath)) {\n    node.error(`File not found after fswebcam finished: ${filePath}`);\n    return null;\n}\n/*\nmsg.payload = {\n    file: {\n        value: fs.readFileSync(filePath),\n        options: {\n            filename: path.basename(msg.filename),\n            contentType: \"image/jpeg\"\n        }\n    }\n};\n*/\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 240,
        "wires": [
            [
                "8ccb6cc979554244"
            ]
        ]
    },
    {
        "id": "c5158a0350c4a41b",
        "type": "exec",
        "z": "7649faa3400455b0",
        "command": "fswebcam -d /dev/video2 -r 320x240 --no-banner {{payload}}",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "30",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 290,
        "y": 180,
        "wires": [
            [],
            [],
            [
                "6a1364d7453e5332"
            ]
        ]
    },
    {
        "id": "a15d03105a8064fa",
        "type": "function",
        "z": "7649faa3400455b0",
        "name": "Image Preparation",
        "func": "const ts = Date.now();\nmsg.filename = `/data/images/image.jpg`;\nmsg.payload = msg.filename;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "c5158a0350c4a41b"
            ]
        ]
    },
    {
        "id": "8ccb6cc979554244",
        "type": "exec",
        "z": "7649faa3400455b0",
        "command": "curl -s -X POST -F \"file=@/data/images/image.jpg\" http://edge-impulse:1337/api/image",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "30",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "4a3fddc5f86ef4eb"
            ],
            [],
            []
        ]
    },
    {
        "id": "4a3fddc5f86ef4eb",
        "type": "function",
        "z": "7649faa3400455b0",
        "name": "Edge Impulse Inference",
        "func": "try {\n    msg.payload = JSON.parse(msg.payload);\n    msg.camera = 'video2';\n    msg.model = '';\n    \n    const boxes = msg.payload?.result?.bounding_boxes || [];\n    const ts = Date.now();\n\n    if (!Array.isArray(boxes) || boxes.length === 0) {\n        return null; // No detections → stop flow\n    }\n\n    msg.detections = boxes.map((b, index) => ({\n        id: `${msg._msgid}-${index}`,\n        camera: \"video2\",\n        label: b.label,\n        confidence: Number(b.value),\n        bbox: {\n            x: b.x,\n            y: b.y,\n            width: b.width,\n            height: b.height\n        },\n        timestamp: ts\n    }));\n\n    return msg;\n\n    \n} catch (err) {\n    node.error(\"Failed to parse Edge Impulse response\", msg);\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 180,
        "wires": [
            [
                "f44edc915090c519",
                "73a980f372fdaf65"
            ]
        ]
    },
    {
        "id": "f44edc915090c519",
        "type": "function",
        "z": "7649faa3400455b0",
        "name": "MQTT Inference Mapper",
        "func": "const detections = msg.detections || [];\nconst now = Date.now();\n\n// ---- MODEL METADATA\nconst modelId = \"duck-detector\";\nconst modelVersion = \"1.0.0\";\nconst modelName = \"Duck Detection\";\nconst camera = msg.camera;\n\n// ---- BUILD OBJECT DETECTION RESULT\nconst objectDetections = detections.map(d => ({\n    class: d.label,\n    score: d.confidence,\n    boundingBox: {\n        x: d.bbox.x,\n        y: d.bbox.y,\n        width: d.bbox.width,\n        height: d.bbox.height\n    }\n}));\n\n// ---- FULL EDGE AI PAYLOAD (HiveMQ STANDARD)\nmsg.payload = {\n    identifier: `inference-${msg._msgid}`,\n    model: {\n        identifier: modelId,\n        version: modelVersion,\n        name: modelName\n    },\n    tags: {\n        source: camera,\n        imagePath: msg.filename,\n        objectCount: objectDetections.length\n    },\n    resultType: \"detections\",\n    result: {\n        detections: objectDetections\n    },\n    explanation: {}\n};\n\n// ---- MQTT TOPIC\nmsg.topic = `enterprise/site/area/line/cell/${camera}/${modelId}/${modelVersion}/inference`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 260,
        "wires": [
            [
                "62c7299b9a1a1a9b"
            ]
        ]
    },
    {
        "id": "73a980f372fdaf65",
        "type": "function",
        "z": "7649faa3400455b0",
        "name": "InfluxDB Mapper",
        "func": "const detections = msg.detections || [];\nconst modelName = msg.model || \"duck-detector\";\n\nif (!detections.length) return null;\n\n// Create ONE InfluxDB point per detection\nmsg.payload = detections.map(d => ({\n    measurement: \"edge_ai_detection\",\n    tags: {\n        camera: d.camera,\n        label: d.label,\n        model: modelName\n    },\n    fields: {\n        confidence: d.confidence,\n        bbox_x: d.bbox.x,\n        bbox_y: d.bbox.y,\n        bbox_width: d.bbox.width,\n        bbox_height: d.bbox.height,\n        detected: true\n    },\n    timestamp: d.timestamp\n}));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 120,
        "wires": [
            [
                "85fea7d14ce3dbfc",
                "c74181b78532bb3e"
            ]
        ]
    },
    {
        "id": "85fea7d14ce3dbfc",
        "type": "debug",
        "z": "7649faa3400455b0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 140,
        "wires": []
    },
    {
        "id": "62c7299b9a1a1a9b",
        "type": "mqtt out",
        "z": "7649faa3400455b0",
        "name": "",
        "topic": "enterprise/site/area/line/cell/video2/duck-detector/1.0.0/inference",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "29b42145a9b933cf",
        "x": 1420,
        "y": 260,
        "wires": []
    },
    {
        "id": "db5b44867760a1a9",
        "type": "mqtt in",
        "z": "7649faa3400455b0",
        "name": "",
        "topic": "enterprise/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "29b42145a9b933cf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 620,
        "wires": [
            [
                "b632b2c8e18cc8da"
            ]
        ]
    },
    {
        "id": "b632b2c8e18cc8da",
        "type": "debug",
        "z": "7649faa3400455b0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 620,
        "wires": []
    },
    {
        "id": "c74181b78532bb3e",
        "type": "influxdb out",
        "z": "7649faa3400455b0",
        "influxdb": "9376f7b3ea34c765",
        "name": "",
        "measurement": "edge_ai_detection",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "EdgeImpulse",
        "bucket": "edge-impulse-detections",
        "x": 1310,
        "y": 80,
        "wires": []
    },
    {
        "id": "29b42145a9b933cf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9376f7b3ea34c765",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "RandomData",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "04870fba33c2a90b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]
