node-red/flow.json
[
    {
        "id": "7649faa3400455b0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0eb3febc4f28a396",
        "type": "inject",
        "z": "7649faa3400455b0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "a15d03105a8064fa"
            ]
        ]
    },
    {
        "id": "6a1364d7453e5332",
        "type": "function",
        "z": "7649faa3400455b0",
        "name": "Image Check",
        "func": "const fs = global.get('fs');\n\nconst filePath = msg.filename;\n\nif (!filePath) {\n    node.error('msg.filename is missing');\n    return null;\n}\n\nif (!fs.existsSync(filePath)) {\n    node.error(`File not found after fswebcam finished: ${filePath}`);\n    return null;\n}\n/*\nmsg.payload = {\n    file: {\n        value: fs.readFileSync(filePath),\n        options: {\n            filename: path.basename(msg.filename),\n            contentType: \"image/jpeg\"\n        }\n    }\n};\n*/\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 260,
        "wires": [
            [
                "8ccb6cc979554244"
            ]
        ]
    },
    {
        "id": "c5158a0350c4a41b",
        "type": "exec",
        "z": "7649faa3400455b0",
        "command": "fswebcam -d /dev/video2 -r 320x240 --no-banner {{payload}}",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "30",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 250,
        "y": 200,
        "wires": [
            [],
            [],
            [
                "6a1364d7453e5332"
            ]
        ]
    },
    {
        "id": "a15d03105a8064fa",
        "type": "function",
        "z": "7649faa3400455b0",
        "name": "Image Preparation",
        "func": "const ts = Date.now();\nmsg.filename = `/data/images/image.jpg`;\nmsg.payload = msg.filename;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 100,
        "wires": [
            [
                "c5158a0350c4a41b"
            ]
        ]
    },
    {
        "id": "8ccb6cc979554244",
        "type": "exec",
        "z": "7649faa3400455b0",
        "command": "curl -s -X POST -F \"file=@/data/images/image.jpg\" http://edge-impulse:1337/api/image",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "30",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "f44edc915090c519"
            ],
            [],
            []
        ]
    },
    {
        "id": "f44edc915090c519",
        "type": "function",
        "z": "7649faa3400455b0",
        "name": "MQTT Inference Mapper",
        "func": "try {\n    // ---- Parse Edge Impulse response if needed\n    if (typeof msg.payload === \"string\") {\n        msg.payload = JSON.parse(msg.payload);\n    }\n\n    const camera = \"video2\";\n    const modelId = \"duck-detector\";\n    const modelVersion = \"1.0.0\";\n    const modelName = \"Duck Detection\";\n\n    // ---- Edge Impulse detections\n    const boxes = msg.payload?.result?.bounding_boxes || [];\n\n    if (!Array.isArray(boxes) || boxes.length === 0) {\n        return null; // No detections → stop flow early\n    }\n\n    // ---- Build detection objects (HiveMQ / Edge AI format)\n    const detections = boxes.map(b => ({\n        class: b.label,\n        score: Number(b.value),\n        boundingBox: {\n            x: Number(b.x),\n            y: Number(b.y),\n            width: Number(b.width),\n            height: Number(b.height)\n        }\n    }));\n\n    // ---- Final MQTT payload\n    msg.payload = {\n        identifier: `inference-${msg._msgid}`,\n        model: {\n            identifier: modelId,\n            version: modelVersion,\n            name: modelName\n        },\n        tags: {\n            source: camera,\n            imagePath: msg.filename,\n            objectCount: detections.length\n        },\n        resultType: \"detections\",\n        result: {\n            detections\n        },\n        explanation: {}\n    };\n\n    // ---- MQTT topic\n    msg.topic = `enterprise/site/area/line/cell/${camera}/${modelId}/${modelVersion}/inference`;\n\n    return msg;\n\n} catch (err) {\n    node.error(\"Failed to process Edge Impulse inference\", err);\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 240,
        "wires": [
            [
                "62c7299b9a1a1a9b"
            ]
        ]
    },
    {
        "id": "73a980f372fdaf65",
        "type": "function",
        "z": "7649faa3400455b0",
        "name": "InfluxDB Mapper",
        "func": "\nif (!msg.payload?.result?.detections) {\n    return null;\n}\n\nconst detections = msg.payload.result.detections;\nconst meta = msg.payload;\n\nmsg.measurement = \"edge_ai_detection\";\n\nmsg.tags = {\n    model: meta.model.identifier,\n    version: meta.model.version,\n    source: meta.tags.source,\n    class: \"rubber-ducky\"\n};\n\nmsg.payload = detections.map((det, index) => ({\n    confidence: Number(det.score),\n    bbox_x: det.boundingBox.x,\n    bbox_y: det.boundingBox.y,\n    bbox_width: det.boundingBox.width,\n    bbox_height: det.boundingBox.height,\n    object_count: meta.tags.objectCount,\n    object_index: index\n}));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 640,
        "wires": [
            [
                "c74181b78532bb3e",
                "45956336eca7a9e7"
            ]
        ]
    },
    {
        "id": "62c7299b9a1a1a9b",
        "type": "mqtt out",
        "z": "7649faa3400455b0",
        "name": "",
        "topic": "enterprise/site/area/line/cell/video2/duck-detector/1.0.0/inference",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "29b42145a9b933cf",
        "x": 1000,
        "y": 320,
        "wires": []
    },
    {
        "id": "db5b44867760a1a9",
        "type": "mqtt in",
        "z": "7649faa3400455b0",
        "name": "",
        "topic": "enterprise/site/area/line/cell/video2/duck-detector/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "29b42145a9b933cf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 640,
        "wires": [
            [
                "73a980f372fdaf65"
            ]
        ]
    },
    {
        "id": "c74181b78532bb3e",
        "type": "influxdb out",
        "z": "7649faa3400455b0",
        "influxdb": "9376f7b3ea34c765",
        "name": "",
        "measurement": "edge_ai_detection",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "EdgeImpulse",
        "bucket": "edge-impulse-detections",
        "x": 990,
        "y": 640,
        "wires": []
    },
    {
        "id": "45956336eca7a9e7",
        "type": "debug",
        "z": "7649faa3400455b0",
        "name": "Debugging msg Object",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 560,
        "wires": []
    },
    {
        "id": "29b42145a9b933cf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9376f7b3ea34c765",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "RandomData",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "9368cc313ddcb70a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]
